VITE_AUTH_SERVICE_URL=https://airline-auth-service.onrender.com
VITE_FLIGHT_SERVICE_URL=https://flight-service-ndxd.onrender.com
VITE_BOOKING_SERVICE_URL=https://airline-booking-service-3iug.onrender.com
