PORT=5000
JWT_SECRET_KEY=your-jwt-secret
INTERNAL_API_KEY=your-internal-api-key
REDIS_URL=redis://127.0.0.1:6379
DB_USERNAME=postgres
DB_PASSWORD=your-db-password
DB_NAME=flight_search_db_project
DB_HOST=127.0.0.1
