PORT=5004
RABBITMQ_URL=amqp://localhost:5672
AUTH_SERVICE_URL=http://localhost:5001
FLIGHT_SERVICE_URL=http://localhost:5000
BOOKING_SERVICE_URL=http://localhost:5003
INTERNAL_API_KEY=your-internal-api-key
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password
JWT_SECRET_KEY=your-jwt-secret
DB_USERNAME=postgres
DB_PASSWORD=your-db-password
DB_NAME=notification_service_db
DB_HOST=127.0.0.1
