PORT=5001
SALT=9
JWT_SECRET_KEY=your-jwt-secret
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password
SERVICE_NAME=auth-service
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:5001/api/v1/auth/google/callback
INTERNAL_API_KEY=your-internal-api-key
RABBITMQ_URL=amqp://localhost:5672
REDIS_URL=redis://127.0.0.1:6379
DB_USERNAME=postgres
DB_PASSWORD=your-db-password
DB_NAME=authentication_service_db_project
DB_HOST=127.0.0.1
FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
